.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 12px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  ul{
      list-style: none;
  }

  li{
      margin: 16px;
  }

  aside{
    align-self: flex-end;
  }