<nav class="navbar navbar-dark bg-dark position-sticky top-0 item">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/profile">
        <img src="../../../assets/pokeball.png" alt="pokeball logo" width="40" height="40" class="d-inline-block align-text-center">
        Pokemon Trainer
      </a>
      <ng-container *ngIf="trainer !== undefined">
          <ul>
            <li >
                <a class="link-light text-decoration-none" routerLink="/" (click)="logOut()">Logout</a>
            </li>
              <li>
                    <a class="link-light text-decoration-none" routerLink="/profile">My trainer</a>
                </li>
              <li >
                  <a class="link-light text-decoration-none" routerLink="/pokemons">Pokemons</a>
              </li>
          
          </ul>
      </ng-container>
    </div> 
  </nav>
