
  button{
    border: 1px solid #afadad;
    border-radius: 10px;
    padding: 8px;
  }

  /* On mouse-over, add a deeper shadow */
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
